/* .navbar {
    background-color: #fffffff1;
    padding: 0px
}
.navbar .logo {
    display: flex;
    align-items:center;
}
.navbar .logo img {
    height: 100px;
    width:70px;
    margin-bottom: 10px;
}
.navbar .logo-text {
    font-size: 20px;
    color: rgb (2, 15, 21) ;
    text-decoration: none;
}
.navbar .logo-text span {
    font-size: 10px;
    font-weight: normal;
    display: block;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar .nav-links li {
    margin-left: 20px;
}
.navbar .nav-links a {
    color: rgb(48, 34, 208);
    text-decoration: none;
    font-size: 18px;
}
.navbar .nav-links a:hover {
    text-decoration: underline;
}
  */





.navbar {
    background-color: #fffffff1;
    padding: 0px
}
.navbar .logo {
    display: flex;
    align-items:center;
    
}
.navbar .logo img {
    height: 90px;
    width:150px;
}
.navbar .logo-text {
    font-size: 20px;
    color: rgb (12,13,15);
    text-decoration:none;
    padding:0;
}
.navbar .logo-text span {
    font-size: 10px;
    font-weight: normal;
    display:Block ;
}
.navbar .nav-links {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
 }
.navbar .nav-links li {
    margin-left: 20px;
} 
.navbar .nav-links a {
    color: rgb(48, 34, 208);
    text-decoration: none;
    font-size: 18px;

.navbar .nav-links a:hover {
    text-decoration: underline;
}



